.mainPage {
    background: url('./img/bg.jpg') center center/cover no-repeat;
    
    padding-left: 83px;
    padding-top: 168px;

    &__subtitle {
        font-size: 27px;
        text-transform: uppercase;
    }

    &__title {
        margin-top: 19px;

        font-size: 110px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 300;
        line-height: 1.07;
    }

    &__wrapper {
        position: relative;
    }
}

.bold {
    font-weight: 800;
}

.index1 {
    position: relative;
    z-index: 1;
}
